<div class="container mt-5">
    <h1>Text summarizer for tweets</h1>
    <hr>
    <%= simple_form_for @tweet do |f| %>
    <%= f.input :long, required: true, label: "Copy and paste, or wrtie a long text here" %>
    <hr>
    <%= f.button :submit, 'Create tweet', class: 'btn btn-primary' %>
    <% end %>
</div>