<div class="container bg-primary text-white mt-5">
    <h1 class="text-center">Summarize your texts for tweets</h1>
    <div class="d-flex flex-column my-4">
        <div class= "container bg-white text-primary w-75 text-center" style="flex: 1;">
            <strong>Original text: </strong>
            <p>Greetings, traveler from distant lands!
            I see in your eyes the weariness of daily battles and the indomitable flame of hope.
            Tell me, how is your spirit in these times of shadow and unstable Wi-Fi?
            What winds brought your presence to this conversation, as rare as a good-humored dragon?</p>
        </div>
        <div class="container d-flex justify-content-center align-items-center" style="flex: 1;"><i class="fa-solid fa-arrow-down fa-beat-fade fa-2xl" style="color: #74C0FC;"></i></div>
        <div class= "container w-75 bg-white text-primary text-center" style="flex: 1;">
        <strong>A.I. summarized text: </strong>
            <p>Hello, how are you?</p>
        </div>        
    </div>
</div>